<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <!--Количество столбцов в таблице раздела 4.3 рабочей программы-->
    <add key="cols_in_4_3_table" value="4" />
    <!--Количество необходимых абзацев в разделе 6 рабочей программы-->
    <add key="important_pars_in_6" value="3" />
    
  </appSettings>
</configuration>